<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exclusive Deals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">  
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="{{ url_for('index') }}" class="logo-link">Exclusive Deals</a>
        <form class="search-bar" method="GET" action="/">
            <input type="text" name="company" placeholder="Search deals..." value="{{ search_company }}">
            <button type="submit">Search</button>
        </form>
        <!-- Menu icon/button -->
        <div class="menu-icon" onclick="toggleMenu()">&#9776; Menu</div>
        <div id="menu" class="menu-drawer">
            <div class="menu-header">
                <h2>Menu</h2>
                <button onclick="toggleMenu()">X</button>
            </div>
            <ul>
                {% if session.username %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    <li><a href="{{ url_for('form') }}">Add Post</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('form') }}">Add Post</a></li>
                {% endif %}
                <li><a href="#" onclick="toggleFilters()">Filters</a></li>

                <div id="filters" style="display:none;">
                    <div class="filter-item">
                        <input type="checkbox" name="banks" value="American Express" id="amex">
                        <label for="amex">American Express</label>
                    </div>
                
                    <div class="filter-item">
                        <input type="checkbox" name="banks" value="Bank Of America" id="bankOfAmerica">
                        <label for="bankOfAmerica">Bank Of America</label>
                    </div>
                
                    <div class="filter-item">
                        <input type="checkbox" name="banks" value="Wells Fargo" id="wellsFargo">
                        <label for="wellsFargo">Wells Fargo</label>
                    </div>                
    
                    <button id="filter-button" onclick="applyFilters()">Apply Filters</button>
                </div>

            </ul>
        </div>
    </div>


    <!-- Main Content -->
    <div class="container">
        <h1>Latest Deals</h1>
        <div class="deals">
            {% if no_results %}
                <p>No results found.</p>
            {% else %}
                {% for deal in deals %}
                    <div class="card">
                        <img src="{{ deal.Logo }}" alt="{{ deal.Company }} Logo" onerror="this.onerror=null;this.src='/static/logos/default_logo.png';">
                        <div class="card-content">
                            <a href="{{ deal.Bank_Website }}">{{ deal.Bank }}</a>
                            <a href="https://www.{{ deal.CleanName }}.com">{{ deal.Company }}</a>
                            <p><strong>Offer:</strong> {{ deal.Offer }} </p>
                            <p><strong>Expires On:</strong> {{ deal['Expire Date'] }}</p>
                        </div>
                        <div class="share-box">
                            <button class="share-button" data-company="{{ deal.Company }}" onclick="openShareModal(this)">Share</button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Modal for Sharing -->
    <div id="shareModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeShareModal()">×</span>
            <h2>Share this Deal</h2>
            <button onclick="shareOnFacebook()">Share on Facebook</button>
            <button onclick="shareOnTwitter()">Share on Twitter</button>
            <button onclick="shareOnLinkedIn()">Share on LinkedIn</button>
            <button onclick="shareViaEmail()">Share via Email</button>
            <button onclick="shareOnWhatsApp()">Share on WhatsApp</button>
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>
